.dashboard {
  display: flex;
  gap: 30px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: rgb(246, 252, 254);
}

.charts {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}
